:host {

  nz-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;

    nz-header {
      color: white;
    }

    nz-content {
      flex: 1 1 auto;

      nz-card {
        width: 400px;
        margin: 100px auto auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: stretch;

        .login-form {
          max-width: 300px;
        }

        .login-form-forgot {
          float: right;
        }

        .login-form-button {
          width: 100%;
        }

      }
    }
  }
}
