<nz-layout>
  <nz-header>
    <h1 routerLink="/">Hack{{'{'}}business{{'}'}}</h1>
  </nz-header>
  <nz-content>
    <nz-card nzTitle="Log in">
      <form (ngSubmit)="submitForm()" [formGroup]="formGroup" class="login-form" nz-form>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="mail">
              <input formControlName="email" nz-input placeholder="Email" type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input formControlName="password" nz-input placeholder="Password" type="password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <label formControlName="remember" nz-checkbox>
              <span>Remember me</span>
            </label>
            <a class="login-form-forgot">Forgot password</a>
            <button [disabled]="!formGroup.valid"
                    [nzType]="'primary'"
                    class="login-form-button" nz-button>
              Log in
            </button>
            Or
            <a routerLink="/signup">register now!</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </nz-content>
  <nz-footer>
    Made with ❤️ by Miami Iron Crew!️
  </nz-footer>
</nz-layout>
