<nz-card>
  <button (click)="addModal=true" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button>

  <nz-modal (nzOnCancel)="addModal = false"
            (nzOnOk)="add()"
            [nzVisible]="addModal"
            nzOkText="Add"
            nzTitle="Add new product">

    <input [(ngModel)]="newProduct.name" nz-input placeholder="Name"/>
    <input [(ngModel)]="newProduct.description" nz-input placeholder="description"/>
    <input [(ngModel)]="newProduct.price" nz-input placeholder="price" type="number"/>

    <input [(ngModel)]="newProduct.image" nz-input placeholder="image url"/>
    <input [(ngModel)]="newProduct.quantity" nz-input placeholder="quantity" type="number"/>
    <input [(ngModel)]="newProduct.status" nz-input placeholder="status"/>

    <input [(ngModel)]="newProduct.type" nz-input placeholder="type"/>
    <input [(ngModel)]="newProduct.startsOn" nz-input placeholder="starts on" type="date"/>
    <input [(ngModel)]="newProduct.endsOn" nz-input placeholder="ends on" type="date"/>

    <input [(ngModel)]="newProduct.percentageDiscount" nz-input placeholder="discount" type="number"/>
    <input [(ngModel)]="newProduct.amountDiscount" nz-input placeholder="discount" type="number"/>
  </nz-modal>
</nz-card>

<ng-container *ngFor="let product of products | async">
  <nz-card [nzActions]="[deleteAction, editAction]" [nzTitle]="product.name" nzHoverable>
    <h3>Original price €{{product.price}}</h3>
    <h1>Discount {{product.percentageDiscount * 100}}%</h1>
    <h2>Now only €{{product.price - product.price * product.percentageDiscount}}</h2>
  </nz-card>

  <ng-template #deleteAction>
    <div (click)="delete(product)">Delete</div>
  </ng-template>

  <ng-template #editAction>
    <div (click)="product.editModal = true">Edit</div>
  </ng-template>

  <nz-modal (nzOnCancel)="product.editModal = false"
            (nzOnOk)="edit(product)"
            [(nzVisible)]="product.editModal"
            nzOkText="Buy"
            nzTitle="Edit product">

    <input [(ngModel)]="product.name" nz-input placeholder="Name"/>
    <!--    <input [(ngModel)]="product.description" nz-input placeholder="description"/>-->
    <input [(ngModel)]="product.price" nz-input placeholder="price" type="number"/>
    <input [(ngModel)]="product.percentageDiscount" nz-input placeholder="discount" type="number"/>
  </nz-modal>
</ng-container>
