<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="/profile">
    Details
  </li>
  <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="/profile/transactions">
    Transactions
  </li>
  <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="/profile/products">
    Products
  </li>
</ul>

<router-outlet></router-outlet>
