<nz-layout>
  <nz-header>
    <h1 routerLink="/">Hack{{'{'}}business{{'}'}}</h1>

    <span class="spacer"></span>

    <ng-container *ngIf="token; else login">
      <a  routerLink="/profile">Profile</a>
      &nbsp;
      &nbsp;
      <a  (click)="logout()">Logout</a>
    </ng-container>

    <ng-template #login>
      <a routerLink="/login">Login</a>
    </ng-template>

  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    Made with ❤️ by Miami Iron Crew!️
  </nz-footer>
</nz-layout>
