:host {
  nz-layout {
    nz-header {
      color: white;
      display: flex;

      .spacer {
        margin: 0 auto;
        display: inline-block;
      }
    }

    nz-content{
      width: 800px;
      margin: 0 auto;
      min-height: calc(100vh - 133px);
    }
  }
}
