<ng-container *ngFor="let product of products | async">
  <nz-card [nzActions]="[actionBuy]" [nzCover]="coverTemplate" [nzTitle]="product.name" nzHoverable>
    <h3>Original price €{{product.price}}</h3>
    <h1>Discount {{product.percentageDiscount * 100}}%</h1>
    <h2>Now only €{{product.price - product.price * product.percentageDiscount}}</h2>
    <h2>Items left {{product.quantity}}</h2>
  </nz-card>

  <ng-template #actionBuy>
    <div (click)="buyProduct = product">Buy now</div>
  </ng-template>

  <ng-template #coverTemplate>
    <div  class="cover" [style]="{'background-image': 'url(' + product.image || '/assets/diner.jpg' + ')'}"></div>
  </ng-template>
</ng-container>

<nz-modal (nzOnCancel)="buyProduct = undefined"
          (nzOnOk)="buy()"
          [(nzVisible)]="!!buyProduct"
          [nzTitle]="buyProduct?.name"
          nzOkText="Buy">

  <h2>Please select the quantity you want</h2>
  Quantity
  <nz-input-number [(ngModel)]="quantity" [nzMax]="buyProduct?.quantity" [nzMin]="1" [nzStep]="1"></nz-input-number>
</nz-modal>
