:host {
  nz-card {
    margin: 12px 0;
  }

  .cover {
    width: 100%;
    height: 250px;
    background-image: url("/assets/diner.jpg");
    background-size: cover;
    background-position: center center;

  }
}
