<ng-container *ngFor="let transaction of transactions| async">
  <nz-card [nzTitle]="transaction.description">
    <div>Uuid {{transaction.uuid}}</div>
    <div>Ethereum transaction id {{transaction.uuid}}</div>
    <div>Quantity {{transaction.quantity}}</div>
    <div>price €{{transaction.price * transaction.quantity}}</div>
    <div>Discount {{transaction.percentageDiscount * 100}}%</div>

    <div>Total €{{transaction.quantity * (transaction.price - transaction.percentageDiscount * transaction.price)}}</div>
  </nz-card>
</ng-container>


